body {
  font-family: 'Merriweather', serif;
  color: #40514E;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
  color: #11999E;
}

a:hover {
  color: #13E3EB;
}

p {
  line-height: 2;
}

hr {
  border: none;
  border-top: 6px dotted #80adc9;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.profile {
  margin: 50px 0
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #EAF6F6;
  padding: 50px 0 20px;
  position: relative;
}

.contact-note {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  padding: 20px 0;
  color: #11999E;
  font-size: 0.75rem;
}

.top-sun {
  position: absolute;
  right: 200px;
  top: 30px;
  width: 25%;
  height: 30%;
}

.bottom-cloud {
  bottom: 250px;
  position: absolute;
  left: 150px;
  width: 20%;
  height: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.butterfly-swim {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.lexipup {
  width: 150px;
}

.paintbrush {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.web {
  text-decoration: underline;
}

.BUTTON_INS {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  height: 10px;
  line-height: 10px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  width: 110px;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  margin: 30px;
  background-color: #11999E;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_INS:hover {
  background: #13E3EB;
  border: solid #0DD4DB 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #FFFFFF;
}

.tiny-tent {
  position: absolute;
  right: 100px;
  bottom: 15px;
  height: 100%;
  width: 15%;
}

.campfire {
  position: absolute;
  left: 150px;
  bottom: 50px;
  height: 50%;
  width: 7%;
}